
body{
    background-color: #e9e3d8;
    color: #212529;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.section{
    padding:4rem 2rem;
    margin-bottom:2rem;
}

.contact{
    background-color: #212529;
    color: #f7f5f1;
}

.navTop{
    background-color:#f7f5f1;
}

.about{
    background-color: #741d16;
}
/* 
.homeDiv{
    background-color: #f6f2eb;
} */

.greenText{
    color:#5a7a73;
}

.jumbotron{
    background-color:transparent;
}

.jumbotronImage{
    border: 6px solid #f7f5f1;
    /* max-width:600px; */
}

.navbar-brand img{
    height: 60px;
}

.aboutText{
    color: #e9e3d8;
}

.projectsContainer{
    background-color: #f7f5f1;
}

/* 741d16 burgundy */
/* f6f2eb original tan */