
body{
    background-color: #f7f5f1;
    color: #212529;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
}

.section{
    padding:2rem 2rem;
    width: 100%;
}

.nav-link{
    /* font-weight:bold; */
}

.contact{
    background-color: #212529;
    color: #f7f5f1;
    text-align:center;
}

a{
    color:#16a2b8;
}

a:hover, a:active{
    color:#741d16;
}

.navTop{
    background-color:#f7f5f1;
}

h2{
    color: #741d16;
    /* font-weight: bold; */
    text-align: center;
}
.about{
    background-color: #ffffff;
}
/* 
.homeDiv{
    background-color: #f6f2eb;
} */

.greenText{
    color:#5a7a73;
}

.jumbotron{
    background-color:transparent;
}

.jumbotronImage{
    border: 6px solid #f7f5f1;
    /* max-width:600px; */
}

li{
    list-style: none;
}

.icon{
    font-size:3em;
}

.navbar-brand img{
    height: 60px;
}

.projectsContainer{
    background-color: #f7f5f1;
}

.card{
    margin-top:10%;
}


/* 741d16 burgundy */
/* f6f2eb original tan */